@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  min-height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.visually-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.content-wrap {
  padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .content-wrap {
    padding-bottom: 77px;
  }
}
[data-modal] {
  animation: modal-open 0.25s;
}
[data-modal].modal-container {
  animation: modal-open 0.35s;
}

@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.light-theme {
  color: #000000;
  transition: all 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71), opacity 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.dark-theme {
  background-color: #333333;
  color: #ffffff;
  transition: all 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71), opacity 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71);
}
.dark-theme .login-input,
.dark-theme .modal-card__list-details {
  color: #ffffff;
}
.dark-theme .pagination-button,
.dark-theme .modal-card__votes {
  color: #ff6b08;
}
.dark-theme .pagination-button,
.dark-theme .modal-card,
.dark-theme .modal__container,
.dark-theme .modal-login {
  background-color: #333333;
}
.dark-theme .login-input {
  border-bottom: 2px solid #ff6b08;
}
.dark-theme .activebtn {
  background-color: #ff6b08;
}
.dark-theme .footer {
  background-color: #000000;
}
.dark-theme .pagination-button {
  box-shadow: #ffffff;
}
.dark-theme .pagination-button:hover, .dark-theme .pagination-button:focus {
  background-color: #ff6b08;
  color: #333333;
}
.dark-theme .activebtn {
  color: #ffffff;
  box-shadow: #ff6b08;
}
.dark-theme .activebtn:hover, .dark-theme .activebtn:focus {
  background-color: #ff6b08;
  color: #333333;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 200px;
}

.theme-switch {
  display: flex;
  align-items: center;
  position: sticky;
}

.theme-switch__icon {
  color: #ffffff;
  height: 15px;
  width: 15px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  position: relative;
  width: 32px;
  height: 15px;
  border-radius: 50em;
  margin-left: 5px;
  margin-right: 5px;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #333333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71), opacity 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: all 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71), opacity 0.5s cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #ff6b08;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(17px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #ff6b08;
}

.header-home {
  position: relative;
  background-image: url("/src/images/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 230px;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.header-home__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.header-home__container {
  max-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.logo:hover .logo__icon {
  transform: rotate(180deg);
}
.logo__icon {
  transition: transform 0.5s ease-out;
}

.logo__text {
  display: none;
  background: linear-gradient(225deg, #ff6b08, #ffffff, #ff6b08) 0 0/400%, 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 40px;
}

.nav__list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav__item {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.nav__link {
  transition: color 250ms;
}
.nav__link--active {
  border-bottom: 3px solid #ff6b08;
}
.nav__link:hover {
  color: #ff6b08;
}

.search-form {
  width: 100%;
  max-width: 336px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.search-form input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 14px;
  outline: none;
  color: inherit;
}
.search-form input:focus::-moz-placeholder {
  color: transparent;
}
.search-form input:focus::placeholder {
  color: transparent;
}
.search-form__icon {
  transition: transform 250ms;
}
.search-form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.search-form button:hover .search-form__icon {
  transform: scale(1.5);
}

.warning {
  color: #ff001b;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .header-home__container {
    max-width: 617px;
  }
  .logo__text {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
  }
  .nav__list {
    gap: 40px;
  }
}
@media (min-width: 1024px) {
  .header-home__container {
    max-width: 882px;
  }
}
@keyframes move-bg {
  to {
    background-position: 400%;
  }
}
.header-library {
  position: relative;
  background-image: url("/src/images/Rectangle-1x-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 230px;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.header__btn-wrapper {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn {
  text-transform: none;
  width: 130px;
  height: 44px;
}

.btn-lib {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
}
.btn-lib:hover {
  animation: rotate 0.7s ease-in-out both;
  animation-delay: 0.04s;
}
.btn-lib--white {
  color: #fff;
  border-color: #fff;
}
.btn-lib--white:hover {
  border-color: #ff6b08;
  color: #fff;
  background-color: #ff6b08;
}
.btn-lib-js-active {
  border-color: #ff6b08;
  color: #fff;
  background-color: #ff6b08;
}
.btn-lib--black {
  border-color: #000;
  color: #000;
  opacity: 1;
}
.btn-lib--black:hover {
  border-color: #ff6b08;
  color: #fff;
  background-color: #ff6b08;
}

.btn-wrapper {
  display: flex;
}

.switch__btn {
  position: absolute;
  margin-top: -33px;
  margin-left: 90px;
  opacity: 0.4;
  transition: opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.switch__btn:hover {
  opacity: 1;
}

.switch__btn__icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch__btn__icon {
  color: #ff6b08;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .header__btn-wrapper {
    gap: 32px;
  }
  .switch__btn {
    margin-left: 500px;
  }
  .header__btn {
    width: 152px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .switch__btn {
    margin-left: 1000px;
  }
  .header__btn-wrapper {
    gap: 16px;
  }
  .header__btn {
    width: 147px;
    height: 42px;
  }
}