/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, :before, :after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.15;
}

body {
  margin: 0;
}

hr {
  color: inherit;
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted buttontext;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  min-height: 100vh;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.content-wrap {
  padding-bottom: 100px;
}

@media screen and (width >= 768px) {
  .content-wrap {
    padding-bottom: 77px;
  }
}

[data-modal] {
  animation: .25s modal-open;
}

[data-modal].modal-container {
  animation: .35s modal-open;
}

@keyframes modal-open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.light-theme {
  color: #000;
  transition: all .5s cubic-bezier(.38, .53, .8, .71), opacity .5s cubic-bezier(.38, .53, .8, .71);
}

.dark-theme {
  color: #fff;
  background-color: #333;
  transition: all .5s cubic-bezier(.38, .53, .8, .71), opacity .5s cubic-bezier(.38, .53, .8, .71);
}

.dark-theme .login-input, .dark-theme .modal-card__list-details, .dark-theme .modal-close {
  color: #fff;
}

.dark-theme .modal-login-close-btn {
  fill: #ff6b08;
}

.dark-theme .btn__icon-close {
  stroke: #ff6b08;
}

.dark-theme .pagination-button, .dark-theme .modal-card__votes {
  color: #ff6b08;
}

.dark-theme .pagination-button, .dark-theme .modal-card, .dark-theme .modal__container, .dark-theme .modal-login, .dark-theme .modal-body {
  background-color: #333;
}

.dark-theme .login-input {
  border-bottom: 2px solid #ff6b08;
}

.dark-theme .activebtn {
  background-color: #ff6b08;
}

.dark-theme .footer {
  background-color: #000;
}

.dark-theme .pagination-button {
  box-shadow: #fff;
}

.dark-theme .pagination-button:hover, .dark-theme .pagination-button:focus {
  color: #333;
  background-color: #ff6b08;
}

.dark-theme .activebtn {
  color: #fff;
  box-shadow: #ff6b08;
}

.dark-theme .activebtn:hover, .dark-theme .activebtn:focus {
  color: #333;
  background-color: #ff6b08;
}

.toolbar {
  justify-content: flex-end;
  display: flex;
  position: absolute;
  top: 200px;
}

.theme-switch {
  align-items: center;
  display: flex;
  position: sticky;
}

.theme-switch__icon {
  color: #fff;
  width: 15px;
  height: 15px;
}

.theme-switch__control {
  border-radius: 50em;
  align-items: center;
  width: 32px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  position: relative;
}

.theme-switch__toggle {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.theme-switch__track {
  color: #0000;
  -webkit-user-select: none;
  user-select: none;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
  background-color: #333;
  width: 100%;
  height: 100%;
  transition: all .5s cubic-bezier(.38, .53, .8, .71), opacity .5s cubic-bezier(.38, .53, .8, .71);
  position: absolute;
  top: 0;
  left: 0;
}

.theme-switch__marker {
  z-index: 2;
  pointer-events: none;
  background-color: #fff;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  transition: all .5s cubic-bezier(.38, .53, .8, .71), opacity .5s cubic-bezier(.38, .53, .8, .71);
  position: relative;
  transform: translateX(3px);
  box-shadow: 0 1px 1px #00000040;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #ff6b08;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(17px);
}

.theme-switch__toggle:focus + .theme-switch__track, .theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #ff6b08;
}

.header-home {
  color: #fff;
  background-image: url("bg-image.a1af2eb5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 230px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  position: relative;
}

.header-home__bg {
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header-home__container {
  flex-direction: column;
  gap: 30px;
  max-width: 280px;
  margin: 0 auto;
  display: flex;
}

.logo {
  align-items: baseline;
  gap: 10px;
  display: flex;
}

.logo:hover .logo__icon {
  transform: rotate(180deg);
}

.logo__icon {
  transition: transform .5s ease-out;
}

.logo__text {
  color: #0000;
  background-color: #0000;
  background-image: linear-gradient(225deg, #ff6b08, #fff, #ff6b08), none;
  background-position: 0 0, 100%;
  background-repeat: repeat, repeat;
  background-size: 400%, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: text;
  animation: 8s linear infinite move-bg;
  display: none;
}

.menu {
  justify-content: space-between;
  align-items: baseline;
  margin-top: 40px;
  display: flex;
}

.nav__list {
  align-items: center;
  gap: 20px;
  display: flex;
}

.nav__item {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.nav__link {
  transition: color .25s;
}

.nav__link--active {
  border-bottom: 3px solid #ff6b08;
}

.nav__link:hover {
  color: #ff6b08;
}

.search-form {
  border-bottom: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 336px;
  margin: 0 auto;
  display: flex;
}

.search-form input {
  color: inherit;
  background-color: #0000;
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.search-form input:focus::placeholder {
  color: #0000;
}

.search-form__icon {
  transition: transform .25s;
}

.search-form button {
  cursor: pointer;
  background-color: #0000;
  border: none;
}

.search-form button:hover .search-form__icon {
  transform: scale(1.5);
}

.warning {
  color: #ff001b;
  text-align: center;
  font-size: 14px;
}

@media (width >= 768px) {
  .header-home__container {
    max-width: 617px;
  }

  .logo__text {
    font-size: 30px;
    font-weight: 500;
    display: inline-block;
  }

  .nav__list {
    gap: 40px;
  }
}

@media (width >= 1024px) {
  .header-home__container {
    max-width: 882px;
  }
}

@keyframes move-bg {
  to {
    background-position: 400%;
  }
}

.header-library {
  color: #fff;
  background-image: url("Rectangle-1x-desktop.52bd30ee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 230px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  position: relative;
}

.header__btn-wrapper {
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
}

.header__btn {
  text-transform: none;
  width: 130px;
  height: 44px;
}

.btn-lib {
  text-transform: uppercase;
  background-color: #0000;
  border: 1px solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  display: inline-flex;
}

.btn-lib:hover {
  animation: .7s ease-in-out 40ms both rotate;
}

.btn-lib--white {
  color: #fff;
  border-color: #fff;
}

.btn-lib--white:hover {
  color: #fff;
  background-color: #ff6b08;
  border-color: #ff6b08;
}

.btn-lib-js-active {
  color: #fff;
  background-color: #ff6b08;
  border-color: #ff6b08;
  box-shadow: 0 8px 43px #ff6b0199;
}

.btn-lib--black {
  color: #000;
  opacity: 1;
  border-color: #000;
}

.btn-lib--black:hover {
  color: #fff;
  background-color: #ff6b08;
  border-color: #ff6b08;
}

.btn-wrapper {
  display: flex;
}

.switch__btn {
  opacity: .4;
  margin-top: -33px;
  margin-left: 90px;
  transition: opacity .5s cubic-bezier(.4, 0, .2, 1);
  position: absolute;
}

.switch__btn:hover {
  opacity: 1;
}

.switch__btn__icon-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.switch__btn__icon {
  color: #ff6b08;
  font-size: 25px;
}

@media screen and (width >= 768px) {
  .header__btn-wrapper {
    gap: 32px;
  }

  .switch__btn {
    margin-left: 500px;
  }

  .header__btn {
    width: 136px;
    height: 44px;
  }
}

@media screen and (width >= 1280px) {
  .switch__btn {
    margin-left: 1000px;
  }

  .header__btn-wrapper {
    gap: 16px;
  }
}

.cards-container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 280px;
  margin: 20px auto;
  display: flex;
}

.movie-card {
  flex-direction: column;
  width: 280px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  transition: transform .25s;
  display: flex;
  position: relative;
}

.movie-card__img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 400px;
  display: block;
  overflow: hidden;
  box-shadow: 5px 5px 20px #6b6662;
}

.movie-card__title {
  text-transform: uppercase;
  flex-grow: 1;
  padding-top: 8px;
  font-size: 12px;
}

.movie-card__info {
  color: #ff6b08;
}

.movie-card__rating {
  color: #fff;
  background-color: #ff6b08;
  border-radius: 5px;
  padding: 0 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.movie-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (width >= 768px) {
  .cards-container {
    max-width: 617px;
    margin-top: 60px;
  }

  .movie-card {
    width: 290px;
  }
}

@media (width >= 1024px) {
  .cards-container {
    max-width: 882px;
  }

  .movie-card {
    width: 274px;
  }
}

.cards-watched-container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
  display: flex;
}

.content-library__image {
  width: 700px;
}

.content-library__img-card {
  justify-content: center;
  align-items: center;
  display: flex;
}

.content-library__title {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1px;
  display: flex;
}

.content-library__link {
  font-weight: 500;
  display: inline-block;
  position: relative;
}

.content-library__link:after {
  content: "";
  background-color: #ff6b08;
  border-radius: 5px;
  width: 0;
  height: 2px;
  margin: -5px 0;
  transition: width .3s ease-in;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.content-library__link:hover:after {
  width: 100%;
}

.content-library__link:hover, .content-library__link:focus {
  color: #ff6b08;
}

.content-library__text {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (width >= 768px) {
  .content-library__image {
    min-width: 260px;
  }

  .content-library__title {
    font-size: 24px;
    line-height: 16px;
  }
}

@media screen and (width >= 1280px) {
  .content-library__image {
    min-width: 300px;
  }
}

.pagination-button {
  color: #000;
  background-color: #0000;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 40px;
  height: 40px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: .85em;
}

.pagination-button:hover {
  color: #ff6b08;
  box-shadow: 0 3px 1px #0000001a, 0 1px 2px #00000014, 0 2px 2px #ff6b08;
}

.activebtn {
  color: #fff;
  background: #ff6b08;
}

.activebtn:hover {
  color: #fff;
  box-shadow: 0 3px 1px #0000001a, 0 1px 2px #00000014, 0 2px 2px #000;
}

.pagination-arrow-btn {
  background-color: #f7f7f7;
}

.pagination-container {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

@media (width >= 768px) {
  .pagination-container {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

@media (width >= 1024px) {
  .pagination-container {
    margin-top: 46px;
  }
}

.footer {
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  display: flex;
  position: absolute;
  bottom: 0;
}

.footer__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: flex;
}

.footer__text {
  color: #545454;
  gap: 4px;
  height: 100%;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
}

.footer__link {
  color: #545454;
  text-decoration: underline;
}

.footer__link:hover {
  cursor: pointer;
  color: red;
}

.footer__icon {
  width: 14px;
}

.footer:hover .footer__icon {
  transform: rotate(360deg);
}

.footer__icon {
  transition: transform .5s ease-out;
}

@media screen and (width >= 768px) {
  .footer {
    height: 77px;
  }

  .footer__container {
    flex-direction: row;
  }
}

.log-in, .log-out {
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #ff6b08;
  border-color: #0000;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  font-size: 12px;
  line-height: 1.166;
  transition: all .5s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.log-in:hover, .log-out:hover {
  color: #fff;
  background-color: #0000;
  border-color: #ff6b08;
  box-shadow: inset .1px .1px 7px .1px #ff6b08;
}

.sign-in, .sign-up {
  border-color: #0000;
  transition: all .5s cubic-bezier(.38, .53, .8, .71);
}

.sign-in:hover, .sign-up:hover {
  color: #ff6b08;
  background-color: #0000;
  border-color: #ff6b08;
}

.sign-up--btn-div {
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  display: flex;
}

.login-title {
  color: #0000;
  background-color: #0000;
  background-image: linear-gradient(225deg, #ff6b08, #eee, #ff6b08), none;
  background-position: 0 0, 100%;
  background-repeat: repeat, repeat;
  background-size: 400%, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: text;
  border-radius: 2px;
  font-size: 40px;
  font-weight: 500;
  animation: 15s linear infinite move-bg;
}

.login-wrapper {
  text-align: center;
  justify-content: center;
  margin: 30px auto;
}

.form__btn {
  color: #fff;
  background-color: #ff6b08;
  border-radius: 15px;
  justify-content: center;
  padding: 5px 10px;
  display: inline-block;
}

.form__btn:hover {
  color: #000;
  background-color: #0000;
  border-color: #ff6b08;
  box-shadow: inset .1px .1px 7px .1px #ff6b08;
}

.modal-login__btn {
  top: -10px;
  left: 90%;
}

.login-modal {
  transition: all .5s cubic-bezier(.38, .53, .8, .71), opacity .5s cubic-bezier(.38, .53, .8, .71);
}

.modal-login {
  background-color: #f7f7f7;
  border-radius: 6px;
  width: 280px;
  height: 400px;
  padding: 25px 20px 30px;
  position: absolute;
  top: 10%;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%)scale(1);
  box-shadow: 0 2px 4px #0006, 0 7px 13px -3px #0000004d, inset 0 -3px #0003;
}

.modal-login-close-btn {
  cursor: pointer;
  background-color: #0000;
  border: #0000;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 5px;
  left: 89%;
}

.login-form {
  color: #000;
  width: 250px;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 12px;
}

.login-input {
  color: #000;
  background: none;
  border: none;
  border-bottom: 2px solid #545454;
  outline: none;
  width: 220px;
  height: 20px;
  margin: 45px auto;
  font-size: 14px;
  line-height: 1.142;
  transition: all .5s cubic-bezier(.38, .53, .8, .71);
  display: flex;
}

.login-input:focus, .login-input:hover {
  border-bottom: 2px solid #ff6b08;
}

.backdrop {
  visibility: .5s cubic-bezier(.4, 0, .2, 1);
  background-color: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0;
}

:root {
  --grow_title: 1;
  --grow_genres: 0;
}

.is-hidden {
  display: none;
}

.modal-container {
  background-color: #00000040;
  position: fixed;
  inset: 0;
}

.modal-card {
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  max-height: 95vh;
  padding: 48px 20px 20px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px #0006, 0 7px 13px -3px #0000004d, inset 0 -3px #0003;
}

.modal-card__img {
  border-radius: 5px;
  min-width: 240px;
  max-height: 356.57px;
  display: block;
}

.modal-card__title {
  margin-bottom: 20px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;
}

.modal-card__list {
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;
  list-style: none;
  display: flex;
}

.modal-card__list-container {
  column-gap: 41px;
  display: flex;
}

.modal-card__list-item {
  color: #8c8c8c;
  width: 71px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.modal-card__list-details {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  display: inline-block;
}

.modal-card__list-details--avg-color {
  color: #fff;
  text-align: center;
  background: #ff6b01;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  display: inline-block;
}

.modal-card__buttons {
  justify-content: center;
  gap: 14.85px;
  display: flex;
}

.modal-card__skew-line {
  color: #8c8c8c;
  margin-left: 2px;
}

.modal-card__votes {
  text-align: center;
  background: #f7f7f7;
  border-radius: 5px;
  min-width: 36px;
  height: 16px;
  margin-left: 13px;
  display: inline-block;
}

.modal-card__list-item:nth-child(3) {
  flex-grow: var(--grow_title);
}

.modal-card__list-item:nth-child(4) {
  flex-grow: var(--grow_genres);
}

.modal-card__list-details:nth-child(3) {
  text-transform: uppercase;
}

.modal-card__movie-about {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.modal-card__movie-desc {
  margin-bottom: 21px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
}

@media screen and (width >= 768px) {
  .modal-card {
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    min-width: 618px;
    max-height: 562px;
    padding: 42px 30px 40px 28px;
    display: flex;
  }

  .modal-card__movie-data {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .modal-card__img {
    min-width: 264px;
    max-height: 373.55px;
    margin-top: 0;
  }

  .modal-card__movie-desc {
    max-height: fit-content;
    overflow-y: visible;
  }

  .modal-card__title {
    padding-top: 0;
  }
}

@media screen and (width >= 1024px) {
  .modal-card {
    flex-direction: row;
    gap: 32px;
    width: 882px;
    max-height: 568px;
    padding: 50px 30px 40px;
    display: flex;
  }

  .modal-card__img {
    object-fit: cover;
    max-width: 394px;
    max-height: 477.8px;
  }

  .modal-card__list-container {
    column-gap: 85px;
  }
}

.modal {
  background-color: #bdc3c7b3;
  padding: 0 15px;
  transition: all .5s ease-in-out;
  display: flex;
  position: fixed;
  inset: 0;
}

.modal__container {
  opacity: 1;
  background-color: #f7f7f7;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  min-width: 240px;
  max-width: 900px;
  height: 75%;
  margin: auto;
  display: flex;
  box-shadow: 0 2px 4px #0006, 0 7px 13px -3px #0000004d, inset 0 -3px #0003;
}

.modal__slide {
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 1s;
  display: flex;
}

.modal__nav {
  text-align: center;
  padding-bottom: 10px;
}

.modal__navlink {
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  transition: background-color .6s;
  display: inline-block;
}

.modal__navlink.active {
  background-color: #ff6b01;
  border: 1px solid #ff6b01;
}

.modal__image {
  border-radius: 2%;
  width: 80%;
  max-height: 200px;
  transition: all .5s ease-in-out;
}

.modal__description {
  text-align: center;
  width: 80%;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.17;
}

.modal__info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal__name {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-width: 200px;
  font-family: Mynerve;
  font-size: 22px;
  display: flex;
}

.modal__spin {
  position: relative;
  top: 0;
  left: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

@media screen and (width >= 768px) {
  .modal__name {
    flex-direction: row;
    font-size: 32px;
  }

  .modal__spin {
    position: relative;
    top: 0;
    left: 0;
  }

  .modal__image {
    max-height: 300px;
  }

  .modal__slide {
    gap: 20px;
  }

  .modal__navlink {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }

  .modal__description {
    font-size: 22px;
  }
}

@media screen and (width >= 1280px) {
  .modal__name {
    gap: 40px;
    font-size: 44px;
  }

  .modal__spin {
    position: relative;
    top: 0;
    left: 0;
  }

  .modal__image {
    max-height: 400px;
  }

  .modal__slide {
    gap: 20px;
  }

  .modal__navlink {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }

  .modal__description {
    font-size: 22px;
  }
}

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: .25;
  }

  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: .22;
  }

  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    opacity: .25;
    transform: scale(.5);
  }

  26% {
    opacity: 1;
    transform: scale(1);
  }
}

.scroll-top-button {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background: #ff6b08;
  border: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  transition: all .3s;
  display: flex;
  position: fixed;
  bottom: 40px;
  right: 20px;
}

.scroll-top-button.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-top-button:hover {
  opacity: .8;
}

.scroll-top-icon {
  fill: #fff;
}
/*# sourceMappingURL=index.b07a87f3.css.map */
