<div class="cards-library-container">
    <li>
        <a href="#modal-card">
            <div class="cards-library-card">
                <img class="cards-library-poster"></img>
                <h2 class="cards-library-title"></h2>
                <div class="cards-library-container-info">
                    <p class="cards-library-genre"></p>
                    <p class="cards-library-symbol">|</p>
                    <p class="cards-library-year"></p>
                    <p class="cards-library-mark"></p>
                </div>
            </div>
        </a>
    </li>
</div>