<div class="first-header-container">
    <a href="" class="logo-header"></a>
    <div class="div-input-header">
        <input type="text" placeholder="Movie search">
        <p class="opacity-p-header">Search result not successful. Enter the correct movie name and try again.</p>
    </div>
    <nav class="header-navigation">
        <ul>
            <li>
                <a href="" class="link-for-pages active-page-header">home</a>
            </li>
            <li>
                <a href="" class="link-for-pages">my library</a>
            </li>
        </ul>
    </nav>
</div>