<header class="library-header">
    <div class="second-header-container">
        <div class="first-content-header">
            <a href="" class="logo-header">
                <svg>
                    <use href="./images/icons.svg#film"></use>
                </svg>
                <span>Filmoteka</span>
            </a>
            <nav class="header-navigation">
                <ul>
                    <li>
                        <a href="./index.html" class="link-for-pages ">home</a>
                    </li>
                    <li>
                        <a href="" class="link-for-pages active-page-header">my library</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="second-content-header sec-cont-header-library">
            <ul>
                <li class="list-btn-header">
                    <buton class="library-header-btn">watched</buton>
                </li>
                <li class="list-btn-header">
                    <buton class="library-header-btn">queue</buton>
                </li>
            </ul>
        </div>
    </div>
</header>