<header class="home-header">
    <div class="first-header-container">
        <div class="first-content-header">
            <a href="/src/index.html" class="logo-header">
                <svg>
                    <use href="./images/icons.svg#film"></use>
                </svg>
                <span>Filmoteka</span>
            </a>

            <nav class="header-navigation">

                <ul>
                    <li>
                        <a href="./index.html" class="link-for-pages active-page-header ">home</a>
                    </li>
                    <li>
                        <a href="./library.html" class="link-for-pages js-library">my library</a>
                    </li>
                    <li><a href="" class="login-img-container"> Log in</a></li>
                </ul>
            </nav>
        </div>
        <div class="toolbar">
            <div class="theme-switch">
                <svg class="theme-switch__icon">
                    <use href="./images/svg/sprite.svg#sun"></use>
                </svg>

                <div class="theme-switch__control">
                    <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle" />
                    <label class="theme-switch__track" for="theme-switch-toggle"> </label>
                    <div class="theme-switch__marker"></div>
                </div>

                <svg class="theme-switch__icon">
                    <use href="./images/svg/sprite.svg#moon"></use>
                </svg>
            </div>
        </div>
        <div class="second-content-header">
            <div class="div-input-header">
                <form action="" class="header-form">
                    <input type="text" id="inputSearch">
                    <label for="inputSearch">Movie search</label>
                    <button type="submit">
                        <svg width="15" height="15" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.5 9.5C7.70914 9.5 9.5 7.70914 9.5 5.5C9.5 3.29086 7.70914 1.5 5.5 1.5C3.29086 1.5 1.5 3.29086 1.5 5.5C1.5 7.70914 3.29086 9.5 5.5 9.5Z"
                                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M10.5 10.5002L8.32495 8.3252" stroke="white" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </button>
                </form>
                <p class="opacity-p-header">Search result not successful. Enter the correct movie name and try again.
                </p>
            </div>
        </div>
    </div>
</header>