<div class="modal is-hidden" data-modal>
  <div class="modal-body">
    <button type="button" class="modal-close" data-modal-close>x</button>
    <h2 class="modal-team-title">Our Team</h2>
    <ul class="team-list">
      <li class="team-one">
        <h3>Name 1</h3>
        <p>role</p>
      </li>
      <li class="team-one">
        <h3>Name 2</h3>
        <p>role</p>
      </li>
      <li class="team-one">
        <h3>Name 3</h3>
        <p>role</p>
      </li>
      <li class="team-one">
        <h3>Name 4</h3>
        <p>role</p>
      </li>
      <li class="team-one">
        <h3>Name 5</h3>
        <p>role</p>
      </li>
      <li class="team-one">
        <h3>Name 6</h3>
        <p>role</p>
      </li>
      <li class="team-one">
        <h3>Name 7</h3>
        <p>role</p>
      </li>
      <li class="team-one">
        <h3>Name 8</h3>
        <p>role</p>
      </li>
      <li class="team-one">
        <h3>Name 9</h3>
        <p>role</p>
      </li>
    </ul>
  </div>
</div>
