<div class="modal">
    <div class="modal-content">
        <div class="movie-poster-div">
            <img src="" alt="Movie Poster" class="movie-poster">
        </div>

        <div class="movie-details">
            <p class="movie-title"></p>
            <p class="modal-paragraph">Vote / Votes <span class="modalkodspan vote-average"></span> / <span
                    class="vote-count"></span></p>
            <p class="modal-paragraph">Popularity <span class="popularity modalkodspan"> </span></p>
            <p class="modal-paragraph">Original Title <span class="original-title modalkodspan"> </span></p>
            <p class="modal-paragraph">Genre <span class="genre modalkodspan"></span> </p>
            <p class="about-content">ABOUT </p>
            <p class="about about-content"></p>
            <button class="add-to-watch">ADD TO WATCHED</button>
            <button class="add-to-queue">ADD TO QUEUE</button>
        </div>
    </div>
</div>

<div class="modal-overlay"></div>

