<div class="modal is-hidden" data-modal>
  <div class="modal-body">
    <button type="button" class="modal-close" data-modal-close>x</button>
    <h2 class="modal-team-title">Our Team</h2>
    <ul class="team-list">
      <li class="team-one">
        <img class="team-photo" src="/src/images/photo_2023-12-01_14-49-50_720 (1).jpg" alt="" />
        <h3>Krystian</h3>
        <p>Front Dev</p>
      </li>
      <li class="team-one">
        <img class="team-photo" src="/src/images/124610719_114571890458127_4078634237841751645_n.jpg" alt="" />
        <h3>Marek</h3>
        <p>Front Dev</p>
      </li>
      <li class="team-one">
        <img class="team-photo" src="/src/images/4149074c-0bf1-4dfb-afd8-c2dc3a840bd6_720.jpg" alt="" />
        <h3>Kasia</h3>
        <p>Front Dev</p>
      </li>
      <li class="team-one">
        <img class="team-photo" src="/src/images/img_0006_720 (1).jpg" alt="" />
        <h3>Klaudia</h3>
        <p>Front Dev</p>
      </li>
      <li class="team-one">
        <img class="team-photo" src="/src/images/image.png" alt="" />
        <h3>Maciek</h3>
        <p>Front Dev</p>
      </li>
      <li class="team-one">
        <img class="team-photo" src="/src/images/kp_720.jpg" alt="" />
        <h3>Lucy</h3>
        <p>Front Dev</p>
      </li>
      <li class="team-one">
        <img class="team-photo" src="/src/images/img_20190422_115447_720.jpg" alt="" />
        <h3>Anton</h3>
        <p>Front Dev</p>
      </li>
      <li class="team-one">
        <img class="team-photo" src="/src/images/image_from_ios_720.jpg" alt="" />
        <h3>Klaudia</h3>
        <p>Front Dev</p>
      </li>
      <li class="team-one">
        <img class="team-photo" src="/src/images/csgogoit_360.png" alt="" />
        <h3>Konrad</h3>
        <p>Front Dev</p>
      </li>
    </ul>
  </div>
</div>
