<!-- partial for advanced version -->
<div class="modal is-hidden" data-modal>
  <div class="modal__container">
      <div class="modal__name">
          <p>B</p>
          <p class="modal__spin"></p>
          <p>S G</p>
      </div>
      <div class="modal__info">
          <div class="modal__slide fade">
              <img class="modal__image fade" src="/src/images/photo_2023-12-01_14-49-50_720 (1).jpg" alt="Krystian"></img>
              <p class="modal__description">Krystian - Team Leader</p>
          </div>
          <div class="modal__slide fade">
              <img class="modal__image fade" src="/src/images/image_from_ios_720.jpg" alt="Klaudia"></img>
              <p class="modal__description">Klaudia - Scrum Master</p>
          </div>
          <div class="modal__slide fade">
              <img class="modal__image fade" src="/src/images/4149074c-0bf1-4dfb-afd8-c2dc3a840bd6_720.jpg" alt="Kasia"></img>
              <p class="modal__description">Kasia - Developer</p>
          </div>
          <div class="modal__slide fade">
              <img class="modal__image fade" src="/src/images/img_0006_720.jpg" alt="Klaudia"></img>
              <p class="modal__description">Klaudia - Developer</p>
          </div>
          <div class="modal__slide fade">
              <img class="modal__image fade" src="/src/images/image.png" alt="Maciek"></img>
              <p class="modal__description">Maciek - Developer</p>
          </div>
          <div class="modal__slide fade">
              <img class="modal__image fade" src="/src/images/kp_720.jpg" alt="Lucy"></img>
              <p class="modal__description">Lucy - Developer</p>
          </div>
          <div class="modal__slide fade">
              <img class="modal__image fade" src="/src/images/img_20190422_115447_720.jpg" alt="Anton"></img>
              <p class="modal__description">Anton - Developer</p>
          </div>
          <div class="modal__slide fade">
            <img class="modal__image fade" src="/src/images/124610719_114571890458127_4078634237841751645_n.jpg" alt="Marek"></img>
            <p class="modal__description">Marek - Developer</p>
        </div>
        <div class="modal__slide fade">
          <img class="modal__image fade" src="/src/images/csgogoit_360.png" alt="Konrad"></img>
          <p class="modal__description">Konrad - Developer</p>
      </div>
      </div>
      <ul class="modal__nav">
          <li class="modal__navlink"></li>
          <li class="modal__navlink"></li>
          <li class="modal__navlink"></li>
          <li class="modal__navlink"></li>
          <li class="modal__navlink"></li>
          <li class="modal__navlink"></li>
          <li class="modal__navlink"></li>
      </ul>
  </div>
</div>