<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Modal</title>
    <link rel="stylesheet" href="modalStyles.css">
</head>

<body>
    <div class="modal">
        <div class="modal-content">
            <img src="" alt="Movie Poster" class="movie-poster">
            <div class="movie-details">
                <p>Votes: <span class="votes"></span></p>
                <p>Popularity: <span class="popularity"></span></p>
                <p>Original Title: <span class="original-title"></span></p>
                <p>Genre: <span class="genre"></span></p>
                <p>About:</p>
                <p class="about"></p>
            </div>
        </div>
    </div>
    <script src="movieModal.js"></script>
</body>

</html>