.library-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/Rectangle-1x-desktop.jpg');
  background-size: cover;
  background-position: center;
}

.second-header-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/Rectangle-1x-desktop.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px;
  font-family: 'Roboto', sans-serif;
  @media screen and (max-width: 768px) {
    background-position: center;
  }
}

.sec-cont-header-library ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-bottom: 13px;
}

.library-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/Rectangle-1x-desktop.jpg');
}

.sec-cont-header-library {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-cont-header-library ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-top: 40px;
}

.library-header-btn {
  border: none;
  border-radius: 5px;
  // padding: 5rem 2rem;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  padding: 1rem 0rem;
  background-color: transparent;
  width: 158px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
}

.library-header-btn:focus,
.library-header-btn:active {
  background-color: #ff6b01;
  box-shadow: 0px 0px 43px 0px rgba(255, 107, 1, 0.6);
  border: none;
}

.first-content-header {
  display: flex;
  justify-content: space-between;
}

.second-content-header {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}
