.modal{
    position: fixed;
inset: 0;
background-color: rgb(0 0 0 / 0.5);
opacity: 1;
pointer-events: all;
visibility: visible;
transition: opacity 250ms;
}

.modal-body{
    max-width: 50vw;
    min-height: 90vh;
margin: auto;
background-color: #fff;
transition: scale 250ms;
}

.modal-close{
position: absolute ;
inset: 1em 1em auto auto;
}

.is-hidden{
opacity: 0;
pointer-events: none;
visibility: hidden;
}

